.base-list {
  display: flex;
  flex: 1;
}
.base-list > div,
.base-list .ms-DetailsList,
.base-list .ms-DetailsList > div,
.base-list .ms-DetailsList-contentWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.filter-container .ms-Label {
  white-space: nowrap;
}

.Pane.horizontal.Pane1 {
  min-height: 0fpx;
}

.base-list .ms-DetailsList-headerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.base-list .ms-DetailsList-headerWrapper > div {
  padding-top: 0;
  border-top: 1px solid #ececeb;
}

.base-list .ms-DetailsList > div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  min-width: auto;
  overflow: auto;
  padding-top: 45px;
}

.ms-ComboBox {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  padding-right: 0px;
}
.mobile-form-sub {
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;

  &.maximized {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}

.sub-form-pivot {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  > div {
    flex-direction: row !important;
  }
}

.sub-pane-box .Pane2 {
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}
.sub-tabs > .ms-FocusZone {
  display: flex;
  flex-direction: column;
}

.list-head-col {
  cursor: pointer;
}

.list-row {
  .ms-DetailsRow-cell {
    transition: all 1s;
  }
  &.selected {
    .ms-DetailsRow-cell {
      background: rgb(162, 206, 131);
    }

    .ms-DetailsRow-cellCheck {
      opacity: 1;
      background: transparent;
      ::after {
        content: "✓";
        color: rgb(104, 143, 76) !important;
        font-size: 30px;
      }
      .ms-DetailsRow-check {
        opacity: 1;
      }
    }
  }
  &.loading .ms-DetailsRow-cell {
    background: #2488f37e;
  }
}

.filter-item-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  height: 22px;
  padding-bottom: 2px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 3px;

  label > .ms-Dropdown-container {
    height: 23px;
    > .ms-Dropdown {
      height: 23px;
      .ms-Dropdown-title {
        height: 23px;
        .ms-Label {
          height: 23px;
          line-height: 23px;
        }
      }
    }
  }
}

.ms-DetailsRow-fields {
  flex-direction: row;
  display: flex;
  align-items: stretch;

  .ms-DetailsRow-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    // padding-top: 5px;
    // padding-bottom: 5px;
    font-size: 14px;
    padding: 0;
  }

  .ms-DetailsRow-cell > .row-item-cell {
    height: 100%;
    display: flex;
    flex: 1;
    padding: 0px 12px;
    flex-direction: row;
    align-items: center;
  }
}

.ms-ComboBox > input {
  flex: 1;
}
.ms-ComboBox > button {
  flex-basis: 30px;
  border-radius: 0;
  position: relative;
}

.ms-ComboBox::after {
  border-width: 0px;
}
.base-list {
  display: flex;
  flex-direction: column;
}

.select-fk {
  .ms-TextField-field {
    cursor: pointer !important;
  }
}

.fk-modal {
  &.loading {
    display: none;
  }
  .fk-popup {
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
    flex-direction: column;
  }
  .ms-Dialog-main {
    position: absolute;
    min-height: 80%;
    display: flex;
  }

  &.fk-col-s .ms-Dialog-main {
    left: 10%;
    right: 10%;
  }

  &.fk-col-1 .ms-Dialog-main {
    left: auto;
    right: auto;
    min-width: 250px;
  }

  &.fk-col-2 .ms-Dialog-main {
    left: auto;
    right: auto;
    min-width: 430px;
  }

  &.fk-col-3 .ms-Dialog-main {
    left: auto;
    right: auto;
    min-width: 630px;
  }

  &.fk-col-4 .ms-Dialog-main {
    left: auto;
    right: auto;
    min-width: 820px;
  }
}

.base-form-sub-min {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: #fafafa;
  padding-left: 10px;
  flex: 1;
  .sub-tab {
    margin-right: 5px;
    padding: 1px 10px;
    border-bottom: 0px;
    background: white;
    border: 1px solid #ececeb;
    border-bottom: 0;
    padding-top: 2px;
    cursor: pointer;

    label {
      color: #777 !important;
      cursor: pointer !important;
      white-space: nowrap;
    }

    &.active,
    &:hover {
      padding-top: 1px;
      border-top: 2px solid #0078d4;
      label {
        color: black !important;
      }
    }
  }
}
.base-form-sub {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid #ececeb;

  .sub-head {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    height: 45px;

    border-bottom: 1px solid #ececeb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    > .ms-Button {
      padding: 0 !important;
      margin: 0;
      border: 0 !important;
      border-right: 1px solid #ececeb !important;
      display: flex;
      align-items: center;
      justify-content: center;
      &:last-child {
        border-right: 0 !important;
      }
    }
  }

  .ms-Pivot {
    padding-top: 45px;
    min-width: 120px;
  }

  // .sub-head {
  //   padding: 5px 5px 0px 5px;
  //   height: 28px;
  //   background: #ececeb;
  //   display: flex;
  //   flex-direction: row;
  //   .sub-head-tab {
  //     display: flex;
  //     cursor: pointer;
  //     user-select: none;
  //     flex-direction: row;
  //     align-items: center;
  //     padding: 10px;
  //     font-size: 14px;
  //     border-bottom: 0;
  //     margin-right: 5px;
  //     border: 1px solid #ddd;
  //     border-bottom: 0;

  //     > i {
  //       margin-right: 5px;
  //     }

  //     &:hover {
  //       background: white;
  //     }
  //     &.active {
  //       background: white;
  //       border-top: 1px solid #0078d4;
  //     }
  //   }
  // }
  .sub-tabs {
    flex: 1;
    position: relative;

    > .ms-FocusZone {
      overflow-y: auto;
      border-right: 1px solid #ececeb;

      > .ms-Pivot {
        display: flex;
        flex-direction: column;
      }
      .ms-Button {
        margin-right: 0;
        border-bottom: 1px solid #ececeb;
        text-align: left;
        padding-left: 15px;
        &::before {
          left: 0;
          right: auto;
          top: 6px;
          bottom: 6px;
          height: auto;
          width: 2px;
          transition: top 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s,
            bottom 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
        }
        &:hover {
          &::before {
            top: 0px;
            bottom: 0px;
          }
        }
      }
    }
  }
}

.base-list > .ms-List {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  .mobile-list-item {
    margin: 10px;
    border-radius: 3px;
    border: 1px solid #ececeb;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    max-height: 150px;
    transition: max-height 1s;

    &.expanded {
      max-height: 1000px;
    }

    .outer {
      display: flex;
      flex-direction: row;
      padding: 10px;
      padding-top: 5px;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      .inner {
        padding-right: 20px;
        overflow: hidden;
        position: relative;
        flex: 1;

        .ms-Label {
          display: flex;
          flex-direction: row;
          align-items: center;

          .label {
            width: 100px;
            overflow: hidden;
            white-space: nowrap;
            justify-content: flex-start;
            text-overflow: ellipsis;
          }
          .sep {
            margin: 0px 5px;
          }
          .value {
            flex: 1;
          }
        }
      }
    }
    .expand {
      height: 20px;
      display: flex;
      border-top: 1px solid #ececeb;
      background: white;
      flex-direction: row;
      align-items: center;
      padding: 0px 10px;
      color: #aaa;
      justify-content: space-between;
    }
  }
}
