.mobile-form-sub {
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;

  &.maximized {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}
